{% extends 'base.html' %}

{% block content %}
<main>
    <div class="container">
        <div class="row">
            <div class="method col-md-3">
                <p>Select Method Clustering</p>
            </div>
            <div class="method col-md-9">
                <div class="btn-group">
                  <select class="form-select" id="inputMethod">
                    <option value="1">K-Means</option>
                  </select>
                </div>
                <form action="{% url 'clustering' %}" method="POST">
              <button class="btn btn-dark start" type="button" id="cluster_btn" onclick="this.form.submit()">Start</button>
            </div>
        </div>
        <div class="row">
            <div class="option col-md-4">
                <p>Test Options</p>
                <div class="box__option">
                 
                  <div class="clusters">
                    <p>Number of Cluster</p>
                    <div class="n_clusters col-sm-11">
                      {% csrf_token %}
                      <input type="text" class="form-control" name="nilai_k">
                    </form>
                    </div>
                  </div>
                </div>
            </div>
            <div class="results col-md-8">
                <p>Clustering Output</p>
                <div class="box__result">
                  <div class="scrollClusters" id="resultPdf">
                    {% if clusters %}
                      <p>=== Run Information ===</p>
                      <p>Name dataset : {{ name }}</p>
                      <p>Instance : {{ rows }} rows</p>
                      <p>Method : K-Means Clustering</p> <br>
                      <p>=== Clusters ===</p>
                      {% for cluster in clusters %}
                        <p>Cluster {{forloop.counter0}} : {{ cluster }} </p>
                      {% endfor %}
                      <br>
                      <p>=== Final Clusters ===</p>
                      <p>Attributes :</p>
                      {% for feature in features %}
                        <li>{{feature}}</li>
                      {% endfor %}
                      <p>Fulldata : {{ rows }} data</p>
                      {% for cluster in clusters %}
                        <p>Cluster {{forloop.counter0}} : {{ cluster }} </p>
                      {% endfor %}
                      <canvas id="chart" width="150px" height="50px"></canvas>
                      {% if chart %}
                         {{chart|safe}}
                        <div class="cluster-combinations">
                          {% for com in cluster_combinations %}
                              <img src="{{ com }}" alt="Cluster Plot" width="400" height="300">
                          {% endfor %}
                      </div>
                      <h1>Results Data</h1>
                      <button
          type="button"
          class="badge bg-dark view"
          data-bs-toggle="modal"
          data-bs-target="#exampleModal"
        >
          View Data
        </button>
                <!-- Modal -->
                <div
                class="modal fade"
                id="exampleModal"
                tabindex="-1"
                aria-labelledby="exampleModalLabel"
                aria-hidden="true"
              >
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">View Data</h5>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="modal"
                        aria-label="Close"
                      ></button>
                    </div>
                    <div class="modal-body">
                      <div class="scrollAblee">
                        <table class="table table-striped table-bordered">
                          <thead>
                              <tr>
                                  {% if results %}
                                  <th scope="col">No.</th>
                                  {% for feature in results %}
                                  <th scope="col">{{ feature.feature_name }}</th>
                                  {% endfor %}
                                  {% endif %}
                              </tr>
                          </thead>
                          <tbody>
                            {% if data_json %} {% for datas in data_json %}
                            <tr>
                              <td>{{ forloop.counter }}</td>
                              {% for data in datas %}
                              <td>{{ data }}</td>
                              {% endfor %}
                            </tr>
                            {% endfor %} {% endif %}
                          </tbody>
                      </table>
                      
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button
                        type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal"
                      >
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <!-- end modal -->
      
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
            </div>
        </div>
       
    </div>
</main>
{% endblock %}
